<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jak schudnąć</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="wrapper">
        <nav id="top-nav">
            <% if (!user || !loggedin) { %>
                <a class="menu" href="/login">Zaloguj</a>
                <a class="menu" href="/register">Zarejestruj</a>
            <% } else { %>
                <a class="menu" href="/logout" id="logout-button">Wyloguj</a>
                <a class="menu" href="/profil">Profil</a>
            <% } %>
            <a class="menu" href="/onas">O nas</a>
        </nav>

        <header>
            <img src="/img/logo.jpg">
        </header>

        <nav>
            <a class="menu active" href="/">Strona główna</a>
            <a class="menu" href="/sport">Sport</a>
            <a class="menu" href="/zywnosc">Zdrowa żywność</a>
            <a class="menu" href="/woda">Spożycie wody</a>
            <a class="menu" href="/sen">Sen i regeneracja</a>
            <a class="menu" href="/kalkulator">Kalkulator zdrowia</a>
        </nav>

        <section>
            <article>
                <h1>Zdrowe Odchudzanie: Kompleksowe Podejście</h1>
                <p>
                    <b>Witaj</b> na stronie <b>"Jak Schudnąć?"</b> - Twoim kompendium wiedzy na temat skutecznych i zdrowych metod osiągania wymarzonej sylwetki!</br>
                    Nasza platforma integruje trzy kluczowe elementy niezbędne do udanego procesu odchudzania: sport, zdrową żywność oraz sen.
                    </br>
                </br>
                Zdrowe odchudzanie to nie tylko kwestia redukcji kalorii, ale kompleksowe podejście do Twojego stylu życia.  </br>
                Dlatego przygotowaliśmy dla Ciebie bogatą bazę wiedzy, porad i inspiracji, które pomogą Ci w osiągnięciu Twoich celów.</br>                   
                </br>
                    Odkryj różnorodne treści dotyczące skutecznych planów treningowych, zrównoważonej diety oraz wpływu zdrowego snu na metabolizm i kontrolę nad apetytem.</br></br>
                    Przekonaj się, jak prostym krokiem w kierunku lepszej kondycji fizycznej i samopoczucia może być codzienna dbałość o właściwe proporcje aktywności fizycznej, zdrowego odżywiania oraz regeneracyjnego snu.</br></br>
                   <b>Gotowy na zmianę?</br>
                    Rozpocznij swoją podróż ku zdrowszej, szczuplejszej wersji siebie już teraz!</b>                  
                </p>
            </br>
            </article>

            <article id="second">
            </br>
                <h1>Dlaczego my?</h1>
                <p>
                    <img src="/img/thinking.jpg" id="thinking">
                    Wybierając naszą stronę, wybierasz partnera w Twojej drodze ku lepszemu zdrowiu i sylwetce. </br>
                    Oferujemy kompleksowe podejście, wiedzę ekspercką, najnowsze informacje i wsparcie społeczności, aby pomóc Ci osiągnąć swoje cele. </br>
                    Niezależnie od Twojego doświadczenia czy celów, u nas znajdziesz narzędzia i inspirację potrzebną do osiągnięcia sukcesu. </br>
                    Dołącz do naszej społeczności i rozpocznij swoją podróż ku lepszemu samopoczuciu już teraz</br></br>
                </p>
            </article>
        </section>

        <footer>
            <div id="stopka">
                <div class="one">
                    <h2>Skontaktuj się z nami</h2>
                    <p>
                        Chętnie odpowiemy na Twoje pytania</br>
                        oraz pomożemy Ci wybrać</br>
                        odpowiednią dietę.
                    </p>
                </div>

                <div class="two">
                    <h4>Zadzwoń:</h4>
                    <p>
                        <a href="tel:+48 513 154 523">+48 513 154 523</a>
                    </p>

                    <p>
                        <a href="tel:+22 216 31 12">+22 216 31 12</a>
                    </p>

                    <h4>Napisz:</h4>
                    <p>
                        <a link href="/form" target="_blank">jakschudnac.help@gmail.com</a>
                    </p>
                </div>

                <div class="three">
                    <a link href="https://www.google.com/maps/dir//Okopowa+59,+01-043+Warszawa/@52.2503304,20.896886,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x471ecbba9270ad2b:0x2dd568e535a4934!2m2!1d20.9792862!2d52.2503591?entry=ttu" target="_blank">Okopowa 59</a>
                    <p>PON-PT: 8:00 - 16:00</p>
                    <p>SOBOTA: 8:00 - 14:00</p>
                </div>                
            </div>
            <p class="prawa">&copy; 2024 Strona Jak schudnąć. Wszelkie prawa zastrzeżone.</p>            
        </footer>
    </div>
    <script>
        document.getElementById('logout-button').addEventListener('click', function() {
            fetch('/logout', { method: 'POST' })
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                    if (data === 'Proszę się zalogować przed wylogowaniem') {
                        alert('Proszę się zalogować przed wylogowaniem');
                    } else {
                        window.location.href = '/';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Wystąpił błąd podczas wylogowywania');
                });
        });
    </script>
</body>
</html>
