<!DOCTYPE html>
<html>
<head>
  <title>Resetowanie hasła</title>

<style>
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
}

input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2887a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1c6f8b;
}

p {
    text-align: center;
    margin: 15px 0;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #337ab7;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
}

.message {
    color: green;
}

</style>
</head>
<body>
  <h1>Resetowanie hasła</h1>
  <form action="/reset-password" method="post">
    <input type="hidden" id="token" name="token" value="<%= token %>">
    <label for="newPassword">Nowe hasło:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <button type="submit">Zresetuj hasło</button>
  </form>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <% if (message) { %>
    <p style="color: green;"><%= message %></p>
  <% } %>
  <a href="/login">Powrót do logowania</a>
</body>
</html>
